@model AppUserCreateModel
@{
    Layout = "_Layout";
}

<div class="mt-4">
    <form class="form p-4 w-75 mx-auto" asp-action="SignUp" asp-controller="Account">
        
        <div class="mt-3">
            <label>Adınız:</label>
            <input asp-for="@Model.Firstname" class="form-control"/>
        </div>
        <div class="mt-3">
            <label>Soyadınız:</label>
            <input asp-for="@Model.Surname" class="form-control"/>
        </div>
        <div class="mt-3">
            <label>Kullanıcı adınız:</label>
            <input asp-for="@Model.Username" class="form-control"/>
        </div>
        <div class="mt-3">
            <label>Telefon Numaranız.:</label>
            <input asp-for="@Model.PhoneNumber" class="form-control"/>
        </div> 
        <div class="mt-3">
            <select class="form-select" asp-items="@Model.Genders" asp-for="@Model.GenderId">
                <option value="0">Bir cinsiyet seçiniz.</option>
            </select>
        </div>
        <div class="mt-3">
            <label>Parolanız:</label>
            <input type="password" asp-for="@Model.Password" class="form-control"/>
        </div>  
        <div class="mt-3">
            <label>Parola Onay</label>
            <input type="password" asp-for="@Model.ConfirmPassword" class="form-control"/>
        </div>
        <div class="mt-3 text-lg-end">
            <button type="submit" class="btn btn-md btn-primary">Kayıt Ol</button>
        </div>
        <div class="text-danger text-center" asp-validation-summary="All">

        </div>

    </form>
</div>